@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.shop-bg-container {
    background-color: #894bca;
    background-size: cover;
    height: 40vh;
    padding-top: 10px;
}

.shop-bg-text {
    font-family: Bree Serif;
    margin-top: 40px;
    margin: 30px;
    color: #ffffff;
    font-size: 30px;
}

.card-bg-container {
    background-color: #ffffff;
    background-size: cover;
    height: 60vh;
    border-radius: 20px;
    padding: 20px;
}

.card-bg-text {
    text-align: left;
    color: #f780c3;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.Amazon-hd-text {
    font-size: 20px;
    color: #323f4b;
    font-weight: bold;
    margin-left: 10px;
    font-family: Roboto;
}

.Amazon-para-text {
    font-size: 15px;
    color: #7b8794;
    margin-left: 10px;
    font-family: Roboto;
}